.width-10-percent {
    width: 10%;
}
.navbar-brand {
    font-size: 40px;
    font-style: italic;
}
.nav-container {
    border-bottom: 1px solid #e0d9d9;
}
.font-style-italic {
    font-style: italic;
}
.button-float-right {
    width: 20%;
    float: right;
}
li.nav-item.active {
    text-decoration: underline;
}
.logo-img {
    width: 150px;
}
.logo-text {
    font-size: 29px;
    font-family: cursive;
}